.myMonthBox {
  border: 1px solid black;
  padding: 20px;
  background-color: #4cc0ee;
  margin-bottom: 5px;
  margin: 10px;
  font-size: 1.5em;
  border: 1px solid #1464C7;
  border-radius: 5px;
  box-shadow: 0 0 6px 1px rgba(128, 128, 128, 0.718);
}

.myMonthBoxContent {
  display: flex;
  flex-direction: column;
}

.myMonthBoxContentTitle {
  display: flex;
  flex-direction: column; 
  gap: 10px; 
  margin: 20px;
}

.po {
  display: flex;
  flex-direction: column;
}
