
  .hometopbar {
  display: flex;
  flex-direction: row;   
  margin: 15px;
  gap: 20px;
  align-items: center;
  justify-content: space-between;
  position: relative;
  z-index: 10;
  }

  .hometopbarYou {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
  }

  .hometopbarYou p {
    font-size: 16px;
  }

  .hometopbarYou h3 {
    color:#00002c;
  }

  .hometopbarLogo {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    overflow: hidden;  
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .hometopbarLogo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .hometopbarNotif {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    object-fit: cover;
    overflow: hidden;  
    background-color: #f5f5f5;
    font-size: 24px;
    color: #868686;
    box-shadow: 0 0 18px 1px rgba(128, 128, 128, 0.2);
  }
