body {
    background-color: white;
}

/* ----------------------------  Page détail projet ------------------------------------------ */

.containerGeneral{
    width: 90%;
    margin: auto;
}

.titrePage {
    text-align: center;
    font-size: 2em;
}

.titreBloc {
    font-size: 1.5em;
}

/* bloc description projet*/

.titreProjet{
font-size: 1.8em;
background-color: #1464C7;
border-radius: 5px;
text-align: center;
color: white;
box-shadow: 0 0 12px 1px rgba(128, 128, 128, 0.718);
}

.bordureBloc {
    margin: auto;
    border: 1px solid #1464C7;
    border-radius: 5px;
    margin-bottom: 20px;
    box-shadow: 0 0 12px 1px rgba(128, 128, 128, 0.718);
}

.divDescriptionProjet {
    width: 90%;
    margin: auto;
}

/* bloc liste taches projet*/

.bordureBloc2 {
    margin: auto;
    border: 1px solid #1464C7;
    border-radius: 5px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    box-shadow: 0 0 12px 1px rgba(128, 128, 128, 0.718);
}

.divBlocListeTaches {
    width: 90%;
    margin: auto;
}

.addTask {
    color: white;
    background-color: #1464C7;
    border: 1px solid #1464C7;
    border-radius: 5px;
    padding: 5px;
}

.titreBoutonTask{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.UlListTask{
    display: flex;
    flex-direction: column;
    padding: 0;
}

.radioBoutonLabel {
    display: flex;
    flex-direction: row-reverse;
    justify-content: left;
    align-items: center;
    margin-bottom: 10px;
    gap: 10px;
}

.labelBouton {
    padding-right: 10px;
}

/* ----------------------------  Page habits trackers ------------------------------------------ */

.iconeHabits {
    width: 20px;
    padding-left: 6px;
}

.barreTracker {
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
    border-radius: 15px;
    padding: 10px;
    background-color: #4cc0ee;
    margin-bottom: 10px;
}

.pHabits {
    font-size: 1.5em;
}

.boutonHabits {
    background-color: transparent;
    border: none;
}

.barreTracker {
    border: 1px solid #1464C7;
    border-radius: 5px;
    box-shadow: 0 0 6px 1px rgba(128, 128, 128, 0.718);

}
