@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');


body {
    background-color: #ffffff;
    color: #00002c;
    font-family: Raleway;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #00002c;
}

.container {
    display: flex;
    flex-direction: column;
    margin: 30px;
    gap: 10px;
    padding-bottom: 60px;
}

/* ----------------------------  Page détail projet ------------------------------------------ */

.containerGeneral{
    width: 90%;
    margin: auto;
}

.titrePage {
    text-align: center;
    font-size: 2em;
}

.titreBloc {
    font-size: 1.5em;
}

/* bloc description projet*/

.titreProjet{
font-size: 1.8em;
background-color: #1464C7;
border-radius: 5px;
text-align: center;
color: white;
box-shadow: 0 0 12px 1px rgba(128, 128, 128, 0.718);
}

.bordureBloc {
    margin: auto;
    border: 1px solid #1464C7;
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 0 0 12px 1px rgba(128, 128, 128, 0.718);
}

.divDescriptionProjet {
    width: 90%;
    margin: auto;
}

/* bloc liste taches projet*/

.bordureBloc2 {
    margin: auto;
    border: 1px solid #1464C7;
    border-radius: 10px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    box-shadow: 0 0 12px 1px rgba(128, 128, 128, 0.718);
}

.divBlocListeTaches {
    width: 90%;
    margin: auto;
}

.addTask {
    color: white;
    background-color: #1464C7;
    border: 1px solid #1464C7;
    border-radius: 5px;
    padding: 5px;
}

.titreBoutonTask{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.UlListTask{
    display: flex;
    flex-direction: column;
    padding: 0;
}

.radioBoutonLabel {
    display: flex;
    flex-direction: row-reverse;
    justify-content: left;
    align-items: center;
    margin-bottom: 10px;
    gap: 10px;
}

.labelBouton {
    padding-right: 10px;
}

/* ----------------------------  Page habits trackers ------------------------------------------ */

.iconeHabits {
    width: 20px;
    padding-left: 6px;
}

.barreTracker {
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
    border-radius: 15px;
    padding: 10px;
    background-color: #4cc0ee;
    margin-bottom: 10px;
}

.pHabits {
    font-size: 1.5em;
}

.boutonHabits {
    background-color: transparent;
    border: none;
}

.barreTracker {
    border: 1px solid #1464C7;
    border-radius: 5px;
    box-shadow: 0 0 6px 1px rgba(128, 128, 128, 0.718);

}

/* bloc Agenda */
.SelectYears {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.SelectMonths {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.calendarContainer {
    display: flex;
    margin: auto;
    height: 100%;
    align-items: center;
    width: fit-content;
}

.agendaTitle{
    text-align: center;
}

.toggleButton {
    width: auto;
    background-color: #4cc0ee;
    border: none;
    color: white;
    margin: 30px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
   
  }
  
  .toggleButton:hover {
    background-color: #3e9ee0;
  }
  
  /* Conteneur pour les mois */
.monthsContainer {
  display: flex;
  flex-direction: column; 
  align-items: center; 
  gap: 15px; 
  margin-top: 20px;
}

/* Style pour chaque bouton de mois */
.monthsContainer button {
  padding: 15px 30px; 
  background-color: #4cc0ee; 
  color: white; 
  border: none; 
  border-radius: 5px; 
  cursor: pointer; 
  font-size: 1.2em; 
  width: 200px; 
  text-align: center; 
  transition: background-color 0.3s ease; 
}

/* Changement de couleur au survol */
.monthsContainer button:hover {
  background-color: #3e9ee0; 
}



/* blockBucketList */

/* blockBucketList */

.iconePlus {
    width: 5%;
    color: white;
}

.boxBck {
    width: 150px;
    height: 145px;
    background-color: #4cc0ee;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    color: rgb(255, 255, 255);
}

.boxCtn {
    display: flex;
    gap: 40px;
    justify-content: center;
}

.boutonBck {
    background-color: #4cc0ee;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.ctnPrBox {
    display: flex;
    justify-content: center;
    align-items: center;
}

.iconeHabits {
    width: 50px; /* Ajoutez une taille pour que l'image ait des dimensions visibles */
    height: 50px; /* Ajustez selon la taille souhaitée */
}

.BckTitle {
 margin: 50px;
}