@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');


body {
    background-color: #ffffff;
    color: #00002c;
    font-family: Raleway;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #00002c;
}

.container {
    display: flex;
    flex-direction: column;
    margin: 30px;
    gap: 10px;
    padding-bottom: 60px;
}

/* ----------------------------  Page détail projet ------------------------------------------ */

.containerGeneral{
    width: 90%;
    margin: auto;
}

.titrePage {
    text-align: center;
    font-size: 2em;
}

.titreBloc {
    font-size: 1.5em;
}

/* bloc description projet*/

.titreProjet{
font-size: 1.8em;
background-color: #1464C7;
border-radius: 5px;
text-align: center;
color: white;
box-shadow: 0 0 12px 1px rgba(128, 128, 128, 0.718);
}

.bordureBloc {
    margin: auto;
    border: 1px solid #1464C7;
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 0 0 12px 1px rgba(128, 128, 128, 0.718);
}

.divDescriptionProjet {
    width: 90%;
    margin: auto;
}

/* bloc liste taches projet*/

.bordureBloc2 {
    margin: auto;
    border: 1px solid #1464C7;
    border-radius: 10px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    box-shadow: 0 0 12px 1px rgba(128, 128, 128, 0.718);
}

.divBlocListeTaches {
    width: 90%;
    margin: auto;
}

.addTask {
    color: white;
    background-color: #1464C7;
    border: 1px solid #1464C7;
    border-radius: 5px;
    padding: 5px;
}

.titreBoutonTask{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.UlListTask{
    display: flex;
    flex-direction: column;
    padding: 0;
}

.radioBoutonLabel {
    display: flex;
    flex-direction: row-reverse;
    justify-content: left;
    align-items: center;
    margin-bottom: 10px;
    gap: 10px;
}

.labelBouton {
    padding-right: 10px;
}

/* ----------------------------  Page habits trackers ------------------------------------------ */

.iconeHabits {
    width: 20px;
    padding-left: 6px;
}

.barreTracker {
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
    border-radius: 15px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #4cc0ee;
    margin-bottom: 10px;
}

.pHabits {
    font-size: 1.2em;
}

.boutonHabits {
    background-color: transparent;
    border: none;
}

.barreTracker {
    border: 1px solid #1464C7;
    border-radius: 5px;
    box-shadow: 0 0 6px 1px rgba(128, 128, 128, 0.718);

}
/* ----------------------------  Page creer nouveau projet------------------------------------------ */
.generalProjet{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.creerProjet{
    display: flex;
    flex-direction: column;
    width: 90%;
    padding: 20px;
}

.inputNomProjet{
    height: 30px;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 30px;
    box-shadow: 0 0 6px 1px rgba(128, 128, 128, 0.718);
    border: none;
}

.inputDescriptionProjet{
    height: 200px;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 30px;
    box-shadow: 0 0 6px 1px rgba(128, 128, 128, 0.718);
    border: none;
}

/* ----------------------------  Page creer nouveau projet------------------------------------------ */

.generalTask {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.labelTask{
    margin-bottom: 10px;
}

.creerTask {
    display: flex;
    flex-direction: column;
    width: 90%;
    padding: 20px; 
}

.inputNomTask{
    height: 30px;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    box-shadow: 0 0 6px 1px rgba(128, 128, 128, 0.718);
    border: none;
}

.radioTask {
    margin-top: 10px;
}

.optionTask {
    margin-top: 20px;
    margin-bottom: 10px;
}

.inputCategorie{
    margin-top: 20px;
}

.inputDescriptionTask{
    height: 100px;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 30px;
    box-shadow: 0 0 6px 1px rgba(128, 128, 128, 0.718);
    border: none;
    margin-top: 20px;
}

#selectProjet{
padding: 5px;
box-shadow: 0 0 6px 1px rgba(128, 128, 128, 0.718);
    border: none;
}

.buttonTask{
    padding: 10px;
    margin-top: 10px;
    margin-right: 10px;
}

/* ----------------------------  Page profile ------------------------------------------ */
.generalProfil{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -100px;
}

.profilePic{
    width: 150px;
    border-radius: 50%;
    background-color: #1464C7;
    z-index: +1;
    position: relative;
    top: 80px;
    margin: auto;
    text-align: center;
}

.topBox{
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-top: 80px;
    border-radius: 15px;
    box-shadow: 0 0 6px 1px rgba(128, 128, 128, 0.718);
}


.iconeBoxProfile{
    width: 20px;
    padding-top: 10px;
}

.topBoxMini{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.countBox{
    width: 33%;
    border-top: solid 1px black;
    border-right: solid 1px black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5px;
}

.countBox2{
    width: 33%;
    border-top: solid 1px black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5px;
}

.bottomBox{
    width: 100%;
    margin-top: 20px;
}

.barreProfil{
    padding: 15px;
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
    box-shadow: 0 0 6px 1px rgba(128, 128, 128, 0.718);
    border: none;
}

.deco{
    size: 1.5em;
    font-weight: bolder;
    margin-top: 5px;
}